{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}АвтоМаркет{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "main/icons/font/bootstrap-icons.min.css" %}" rel="stylesheet">
    <link href="{% static "main/css/main.css" %}" rel="stylesheet">
    <script>
        function addToCart(product) {
            if (!localStorage.getItem('cart')) {
                storageSetItem('cart', [])
            }
            removeFromCart(product.pk)
            const cart = storageGetItem('cart')
            cart.push(product)
            storageSetItem('cart', cart)
        }
        function removeFromCart(id) {
            if (!localStorage.getItem('cart')) {
                storageSetItem('cart', [])
                return
            }
            storageSetItem('cart', storageGetItem('cart').filter(p=>p.pk !== id))
        }
        function clearCart() {
            storageSetItem('cart', [])
            location.reload()
        }
        function getFromCart() {

        }
        function storageSetItem(key, value) {
            localStorage.setItem(key, JSON.stringify(value))
        }
        function storageGetItem(k) {
            return  JSON.parse(localStorage.getItem(k))
        }
    </script>
</head>
<body>
    <div class="d-flex flex-column content-wrapper">
        <div class="flex-grow-1 d-flex flex-column">
            <div class="menu-block position-sticky top-0 fade-block z-3">
                {% include "main/menu.html" %}
            </div>
            <div class="main-content p-3 px-1 pb-0 px-xl-3 flex-grow-1 d-flex flex-column">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <footer class="footer-block mt-5 p-3 flex-column flex-xl-row bg-secondary-subtle d-flex justify-content-around align-items-center align-items-xl-start text-body-secondary">
            <div class="col-12 col-xl-3">
                <h5>О нас</h5>
                <p>Интернет-магазин автозапчастей открывает перед автолюбителями новые горизонты возможностей благодаря трём ключевым преимуществам: огромному выбору качественных деталей, удобству онлайн-покупок и выгодным ценам.</p>
            </div>
            <div class="col-12 col-xl-3">
                <h5>Оферта</h5>
                <div class="text-decoration-none"><a href="#" class="text-decoration-none text-secondary">Поставщика</a></div>
                <div class="text-decoration-none"><a href="#" class="text-decoration-none text-secondary">Покупателя</a></div>
                <div class="text-decoration-none"><a href="#" class="text-decoration-none text-secondary">Оптового покупателя</a></div>
            </div>
            <div class="col-12 col-xl-3">
                <h5>Поддержка</h5>
                <p>
                    Вы можете позвонить по телефону: <a href="tel:+79999999999" class="text-decoration-none text-black fw-semibold">+7(999)-999-99-99</a><br />
                    или воспользоваться <a href="/help" class="text-decoration-none">формой обратной связи</a>.
                </p>
            </div>
        </footer>
    </div>
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script defer>
        localStorage.getItem('cart') && JSON.parse(localStorage.getItem('cart'))?.forEach(product=>{
            const priceBlock = document.querySelector(`#price-${product.pk}`)
            if (!priceBlock) return
            const parentBlock = priceBlock?.parentElement?.parentElement?.parentElement
            if (parentBlock.classList.contains('product-counter-wrapper')) {
                parentBlock.classList.add('bg-light')
            }
            priceBlock.dataset.currentValue = `${product.quantity}`
            priceBlock.innerText = ` x${product.quantity}`
        })
    </script>
</body>
</html>