{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}
{% block title %}АвтоМаркет - Помощь{% endblock %}
{% block content %}
    <div class="flex-grow-1 w-100 d-flex justify-content-center align-items-center">
        <div class="p-3 rounded-3 bg-white col-12 col-sm-7 col-xxl-6">
            <form action="/help/" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <h4>Форма обращения</h4>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Ваше имя</label>
                    <input id="name" name="name" type="text" class="form-control {% if message.name %}is-invalid{% endif %}" {% if user.is_authenticated %}value="{{ user.first_name }}"{% endif %} required />
                    {% for un in message.name %}
                        {% for u in un %}
                        	<div class="text-danger">{{ u }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control {% if message.email %}is-invalid{% endif %}" {% if user.is_authenticated %}value="{{ user.email }}"{% endif %} required />
                    {% for em in message.email %}
                        {% for e in em %}
                        	<div class="text-danger">{{ e }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон</label>
                    <input id="phone" name="phone" type="text" class="form-control {% if message.phone %}is-invalid{% endif %}"  required />
                    {% for un in message.phone %}
                        {% for u in un %}
                        	<div class="text-danger">{{ u }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Опишите Ваш вопрос</label>
                    <textarea id="comment" name="comment" type="password" class="form-control {% if message.comment %}is-invalid{% endif %}" rows="5" required></textarea>
                    {% for pa in message.comment %}
                        {% for p in pa %}
                        	<div class="text-danger">{{ p }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <button style="--bs-btn-border-color: #dee2e6;" type="submit" class="btn btn-outline-dark d-block w-100">Отправить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}