{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}
{% block title %}АвтоМаркет - История заказов{% endblock %}
{% block content %}
<div class="flex-grow-1 col-12 col-md-9 col-xl-7 bg-white align-self-center rounded-3 p-3">
    <div class="d-flex col-12 col-md-8 flex-column mx-auto mb-2">
        <h3 class="my-3 mb-4">История заказов</h3>
        {% for order in orders %}
        	<div class="mb-3 border-bottom">
                <div class="mb-1"><span class="fw-semibold">Заказ №000{{ order.pk }}</span>, {{ order.created_at }}</div>
                <div class="mb-1"><span class="fw-semibold">Телефон:</span> {{ order.phone }}</div>
                <div class="mb-1"><span class="fw-semibold">Адрес:</span> г. {{ order.address.city }}, {{ order.address.street }}, {{ order.address.house }}{% if order.address.entrance %}, {{ order.address.entrance }}{% endif %} </div>
                <div class="mb-1"><span class="fw-semibold">Покупки:</span></div>
                <div class="mb-2 ps-3">
                    {% for order_product in order.orderproduct_set.all %}
                        <div>
                    	    <a class="text-decoration-none" target="_blank" href="/product/{{ order_product.product.pk }}/">{{ order_product.product.name }} – {{ order_product.product.price|floatformat:"2g" }} ₽</a> - {{ order_product.quantity|floatformat:0 }} {{ order_product.product.quantity_units }}
                        </div>
                    {% endfor %}
                </div>
                {% if order.comment %}
                	<div class=""><span class="fw-semibold">Комментарий:</span> <span class="text-body-secondary">{{ order.comment }}</span></div>
                {% endif %}
                <div class="mb-3"><span class="fw-semibold">Сумма:</span> {{ order.get_total|floatformat:"2g" }} ₽</div>
            </div>
        {% endfor %}
    <script>
        document.querySelectorAll('img').forEach(el=>el.addEventListener('error', ()=>{
            el.src = "/static/main/def_imgs/error.jpg"
        }))
    </script>
    </div>
</div>
{% endblock %}