{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}
{% block title %}АвтоМаркет - Профиль{% endblock %}
{% block content %}
<div class="flex-grow-1 col-12 col-md-9 col-xl-7 bg-white align-self-center rounded-3 p-3">
    <div class="d-flex col-12 col-md-5 flex-column mx-auto">
        <h3 class="my-5">Профиль</h3>
        <div class="mb-3 pb-1 border-bottom w-100 d-flex" style="gap: 1rem;">
            <div class="fw-semibold col-12 col-md-6 ">Имя пользователя:</div>
            <div class="">{{ user.username }}</div>
        </div>
        <div class="mb-3 pb-1 border-bottom w-100 d-flex" style="gap: 1rem;">
            <div class="fw-semibold col-12 col-md-6 ">Имя:</div>
            <div class="">{{ user.first_name }}</div>
        </div>
        <div class="mb-3 pb-1 border-bottom w-100 d-flex" style="gap: 1rem;">
            <div class="fw-semibold col-12 col-md-6 ">Фамилия:</div>
            <div class="">{{ user.last_name }}</div>
        </div>
        <div class="mb-3 pb-1 border-bottom w-100 d-flex" style="gap: 1rem;">
            <div class="fw-semibold col-12 col-md-6 ">Почта:</div>
            <div class="">{{ user.email }}</div>
        </div>
        <div class="mb-3 w-100">
            <div class="fw-semibold col-12 col-md-6">Адреса:</div>
            {% for address in user.address_set.all %}
            	<div class="mb-3">
                    <div class="ps-1 border-bottom">г. {{ address.city }}, {{ address.street }}, {{ address.house }}{% if address.entrance %}, {{ address.entrance }}{% endif %}{% if address.comment %}, {{ address.comment }}{% endif %} <a href="/address/delete/{{ address.pk }}/" class="text-danger"><i class="bi bi-x-lg fs-5"></i></a></div>
                </div>
            {% endfor %}
        </div>
        <button style="--bs-btn-border-color: #dee2e6;" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#createAddressModal">Добавить адрес</button>
        {% include 'main/create_address.html' %}
    </div>
</div>
{% endblock %}