{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}
{% block title %}АвтоМаркет - Помощь{% endblock %}
{% block content %}
    <div class="flex-grow-1 w-100 d-flex align-items-center flex-column">
        <div class="rounded-3 about-header text-white p-5 d-flex flex-column mb-5 shadow-sm col-12" style="min-height: 400px">
            <h1 class="mb-3 fw-semibold">Мы доставляем 2000+ товаров в день<br/>Ваш следующий!</h1>
            <p class="col-12 col-xl-6 fw-light">Ищете качественные автозапчасти для своего автомобиля? Мы предлагаем широкий выбор запчастей для автомобилей разных марок и моделей. Устали от постоянных поломок и трат на ремонт? Обращайтесь к нам, и мы поможем вам сэкономить время и деньги</p>
        </div>
        <div class="mb-3">
            <h1>Почему выбирают нас?</h1>
            <hr>
        </div>
        <div class="mb-5 col-12 d-flex flex-wrap justify-content-center" style="gap: 1.5rem">
            <div class="about-card-wrapper">
                <div class="shadow-sm rounded-3 bg-success-subtle about-card p-4 py-5">
                    <h2>✨ Высокое качество</h2>
                    <p>Мы сотрудничаем только с проверенными производителями и поставщиками, чтобы гарантировать надёжность и долговечность наших товаров.</p>
                </div>
            </div>
            <div class="about-card-wrapper">
                <div class="shadow-sm rounded-3 bg-success-subtle about-card p-4 py-5">
                    <h2>💸 Доступные цены</h2>
                    <p>Мы стремимся предложить нашим клиентам лучшее соотношение цены и качества, чтобы каждый мог позволить себе качественные автозапчасти.</p>
                </div>
            </div>
            <div class="about-card-wrapper">
                <div class="shadow-sm rounded-3 bg-success-subtle about-card p-4 py-5">
                    <h2>🚚 Быстрая доставка</h2>
                    <p>Мы оперативно обрабатываем заказы и доставляем товары в кратчайшие сроки, чтобы вы могли получить свои запчасти как можно скорее.</p>
                </div>
            </div>
            <div class="about-card-wrapper">
                <div class="shadow-sm rounded-3 bg-success-subtle about-card p-4 py-5">
                    <h2>📃 Гарантия</h2>
                    <p>Мы уверены в качестве наших товаров, поэтому предоставляем гарантию на все автозапчасти, купленные у нас.</p>
                </div>
            </div>
        </div>
        <div class="mb-5 d-flex flex-column col-12 align-items-center" style="min-height: 300px; gap: 1rem;">
            <h1 class="">Отзывы покупателей <hr></h1>
            <div class="d-flex flex-column col-12 col-md-8 border-start border-end px-3" style="gap: 1rem">
                <div class="about-message shadow-sm bg-info-subtle p-3">
                    <h5 class="">Иван Петров</h5>
                    <p class="m-0">Отличное качество, автозапчасти пришли вовремя и полностью соответствуют описанию. Очень доволен покупкой</p>
                </div>
                <div class="about-message shadow-sm bg-info-subtle p-3">
                    <h5 class="">Мария Иванова</h5>
                    <p class="m-0">Быстрая доставка, автозапчасти в хорошем состоянии. Рекомендую магазин для покупки запчастей</p>
                </div>
                <div class="about-message shadow-sm bg-info-subtle p-3">
                    <h5 class="">Сергей Сидоров</h5>
                    <p class="m-0">Запчасти идеально подошли к моему автомобилю, качество отличное. Спасибо за быструю обработку заказа</p>
                </div>
                <div class="about-message shadow-sm bg-info-subtle p-3">
                    <h5 class="">Екатерина Петрова</h5>
                    <p class="m-0">Отличные автозапчасти, быстрая доставка и отличное обслуживание. Спасибо за вашу работу!</p>
                </div>
                <div class="about-message shadow-sm bg-info-subtle p-4">
                    <h5 class="">Максим Фёдоров</h5>
                    <p class="m-0">Запчасти пришли вовремя, качество отличное. Быстрая обработка заказа и удобная оплата</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap rounded-3 bg-secondary-subtle col-12 col-md-9 shadow-sm">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"><img src="{% static 'main/def_imgs/support.png' %}" alt="support" class="object-fit-contain w-75"></div>
            <div class="col-12 col-md-6 p-5 d-flex flex-column">
                <h1>
                    Не подошел товар?
                </h1>
                <p class="flex-grow-1">
                    Мы гарантируем высокое качество всех товаров, представленных в нашем магазине. На каждую запчасть предоставляется гарантия от производителя. В случае обнаружения дефектов или неисправностей, мы обязуемся заменить или вернуть товар.
                </p>
                <a href="/help" class="d-block w-100 btn btn-primary border-0 py-3 fw-semibold fs-5 rounded-5 about-feedback-btn">СВЯЗАТЬСЯ С НАМИ!</a>
            </div>
        </div>
    </div>
{% endblock %}