{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="p-4 bg-white rounded">

<h2>{{ product.name }}</h2>
<p>{{ product.price }} ₽</p>

<div class="d-flex gap-2 align-items-center">
    <button id="minus">-</button>
    <span id="count"></span>
    <button id="plus">+</button>
</div>

</div>

<script>
const productId = "{{ product.id }}"
const productName = "{{ product.name }}"
const productPrice = "{{ product.price }}"

let cart = JSON.parse(localStorage.getItem('cart') || '{}')

function updateUI() {
    const count = cart[productId]?.quantity || 0
    document.getElementById('count').innerText = count ? `x${count}` : ''
}

document.getElementById('plus').onclick = () => {
    if (!cart[productId]) {
        cart[productId] = {
            name: productName,
            price: productPrice,
            quantity: 0
        }
    }
    cart[productId].quantity++
    localStorage.setItem('cart', JSON.stringify(cart))
    updateUI()
}

document.getElementById('minus').onclick = () => {
    if (!cart[productId]) return

    cart[productId].quantity--

    if (cart[productId].quantity <= 0) {
        delete cart[productId]
    }

    localStorage.setItem('cart', JSON.stringify(cart))
    updateUI()
}

updateUI()
</script>

{% endblock %}