<div class="d-flex flex-nowrap flex-column bg-white rounded-3 py-3 categories-block">
    <button style="--bs-btn-bg: #ffffff" class="btn btn-light border-0 rounded-0 text-start ps-3 fs-5 btn-collapse-bg" data-bs-toggle="collapse" data-bs-target="#allCategories">Категории</button>
    <div id="allCategories" class="collapse show">
        <div class="d-flex flex-column border-start ms-3">
            <a href="/" style="--bs-btn-bg: #ffffff" class="btn btn-light border-0 rounded-0 text-start ps-3 {% if currentCategoryId == '' %}fw-semibold{% else %}collapsed{% endif %}" >Все</a>
            {% for category in categories %}
                <button style="--bs-btn-bg: #ffffff" class="btn btn-light border-0 rounded-0 text-start ps-3 btn-collapse-bg {% if currentRootCategoryId == category.pk %}fw-semibold{% else %}collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#categoryBtnsBlock{{ category.pk }}">{{ category.name }}</button>
                <div id="categoryBtnsBlock{{ category.pk }}" class="collapse {% if currentRootCategoryId == category.pk %}show{% endif %}">
                    <div class="d-flex flex-column border-start ms-3">
                        {% for category_ in category.category_set.all %}
                            {% if category_.category_set.count %}
                                <button
                                        style="--bs-btn-bg: #ffffff"
                                        class="btn btn-light border-0 rounded-0 text-start ps-3 btn-collapse-bg {% if currentSubCategoryId == category_.pk %}fw-semibold{% else %}collapsed{% endif %}"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#subCategoryBtnsBlock{{ category_.pk }}"
                                >{{ category_.name }}</button>
                                <div id="subCategoryBtnsBlock{{ category_.pk }}" class="collapse {% if currentSubCategoryId == category_.pk %}show{% endif %}">
                                    <div class="d-flex flex-column border-start ms-3">
                                        {% for category__ in category_.category_set.all %}
                                            <a href="/?category={{ category__.pk }}&rootCategory={{ category.pk }}&subCategory={{ category_.pk }}" style="--bs-btn-bg: #ffffff" class="btn btn-light btn-sm border-0 rounded-0 text-start ps-3 {% if currentCategoryId == category__.pk %}fw-semibold{% endif %}" >{{ category__.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <a href="/?category={{ category_.pk }}&rootCategory={{ category.pk }}" style="--bs-btn-bg: #ffffff" class="btn btn-light border-0 rounded-0 text-start ps-3 {% if currentCategoryId == category_.pk %}fw-semibold{% endif %}" >{{ category_.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
