<div class="d-flex flex-nowrap flex-column bg-white rounded-3 py-3 filters-block ">
    <button style="--bs-btn-bg: #ffffff" class="btn btn-light border-0 rounded-0 text-start ps-3 fs-5 btn-collapse-bg collapsed w-100" data-bs-toggle="collapse" data-bs-target="#allFilters">Фильтры</button>
    <div id="allFilters" class="collapse">
        <div class="d-flex flex-column border-start ms-3">
            <form id="filtersForm">
                <input type="hidden" name="category" value="{{ currentCategoryId }}">
                <input type="hidden" name="page" value="1">
                {{ selectedProperties|json_script:"selectedProperties" }}
                <button style="--bs-btn-bg: #ffffff" type="button" class="btn btn-light border-0 rounded-0 text-start ps-3 btn-collapse-bg w-100 collapsed {% if ordering %}fw-semibold{% endif %}" data-bs-toggle="collapse" data-bs-target="#orderingBlock">Сортировка</button>
                <div id="orderingBlock" class="collapse">
                    <div class="d-flex flex-column border-start ms-3">
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="ordering" id="orderingDefault" value="" {% if not ordering %}checked{% endif %}>
                            <label class="form-check-label" for="orderingDefault">По умолчанию</label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="ordering" id="orderingPriceAsc" value="price" {% if ordering == 'price' %}checked{% endif %}>
                            <label class="form-check-label" for="orderingPriceAsc">Цена (по возрастанию)</label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="ordering" id="orderingPriceDesc" value="-price" {% if ordering == '-price' %}checked{% endif %}>
                            <label class="form-check-label" for="orderingPriceDesc">Цена (по убыванию)</label>
                        </div>
                    </div>
                </div>
                <script>
                    const propertiesFilters = [
                        {% for baseProperty in baseProperties %}{
                            'name': '{{ baseProperty.base_property__name_ru }}',
                            'value': '{{ baseProperty.value }}',
                            'id': {{ baseProperty.base_property_id }}
                        },{% endfor %}
                    ]
                    const selectedPropertiesString = document.querySelector('#selectedProperties')?.textContent
                    const selectedProperties = selectedPropertiesString ? JSON.parse(selectedPropertiesString): {}

                    const filtersForm = document.querySelector('#filtersForm')
                    if (filtersForm) {
                        const propertiesData = {}
                        propertiesFilters.forEach(el=>{
                            propertiesData[el.name] = {
                                id: el.id,
                                data: propertiesData[el.name]?.data ? [...propertiesData[el.name].data, el.value] : [el.value]
                            }
                        })
                        Object.keys(propertiesData).forEach(k=>{
                            const fieldEl = document.createElement('div')
                            const fieldCollapseEl = document.createElement('div')
                            const headerEl = document.createElement('button')

                            fieldCollapseEl.id = propertiesData[k].id
                            fieldCollapseEl.className = 'collapse'
                            headerEl.className = 'btn btn-light border-0 rounded-0 text-start ps-3 btn-collapse-bg w-100 collapsed'
                            headerEl.innerText = k
                            headerEl.type = 'button'
                            headerEl.dataset.bsToggle = 'collapse'
                            headerEl.dataset.bsTarget = `#${fieldCollapseEl.id}`
                            fieldEl.insertAdjacentElement('beforeend', headerEl)

                            propertiesData[k]?.data?.forEach((v,i)=>{
                                const checkBoxBlock = document.createElement('div')
                                const checkBoxLabel = document.createElement('label')
                                const checkBoxEl = document.createElement('input')
                                checkBoxEl.type = 'checkbox'
                                checkBoxEl.value = v
                                checkBoxEl.id = `property${propertiesData[k].id}-${i}`
                                checkBoxEl.name = `property${propertiesData[k].id}`
                                checkBoxLabel.htmlFor = checkBoxEl.id
                                checkBoxLabel.innerText = v

                                checkBoxBlock.className = 'form-check ms-3'
                                checkBoxEl.classList.add('form-check-input')
                                checkBoxLabel.classList.add('form-check-label')
                                if (selectedProperties[`property${propertiesData[k].id}`]?.includes(v)) {
                                    checkBoxEl.checked = true
                                    headerEl.classList.add('fw-semibold')
                                }

                                checkBoxBlock.insertAdjacentElement('beforeend', checkBoxEl)
                                checkBoxBlock.insertAdjacentElement('beforeend', checkBoxLabel)
                                fieldCollapseEl.insertAdjacentElement('beforeend', checkBoxBlock)
                            })

                            fieldEl.insertAdjacentElement('beforeend', fieldCollapseEl)
                            filtersForm.insertAdjacentElement('beforeend', fieldEl)
                        })
                    }
                </script>
            </form>
            <div class="w-100 d-flex nowrap justify-content-between">
                <button form="filtersForm" class="btn btn-success border-0 rounded-0 ps-3 col-6 d-block">Применить</button>
                <a href="/?category={{ currentCategoryId }}" class="btn btn-light border-0 rounded-0 ps-3 col-6 d-block">Очистить</a>
            </div>
        </div>
    </div>
</div>
