{% load main_tags %}
<div class="mb-3">
    <form action="/" class="d-flex flex-nowrap p-0 m-0 w-100" method="GET">
        <input type="text" value="{{ search }}" name="search" id="searchField" class="form-control d-block border-0 rounded-3 rounded-end-0 shadow-none fs-5 p-3" placeholder="Поиск. Введите название товара, производителя или категории.">
        <button style="--bs-btn-bg: #ffffff;" class="d-block rounded-3 border-0 shadow-none rounded-start-0 btn btn-ligth store-search-btn" type="submit"></button>
    </form>
</div>
<div class="d-flex flex-row flex-xs-column flex-wrap justify-content-between justify-content-xl-center bg-white p-1 p-md-3 rounded-3" style="gap: 0.8rem;">
    {% for product in products %}
        <div class="card border-0 product-card z-0">
            <div class="p-1 pb-0 product-card-img-wrapper rounded-top-3">
                <a href="/product/{{ product.pk }}" class="text-decoration-none">
                    <img src="/static/main/imgs/{{ product.get_preview.name }}" class="product-card-img d-block mx-auto " alt="">
                </a>
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"><a href="/product/{{ product.pk }}" class="text-decoration-none">{{ product.name }}</a></h5>
                <p class="card-text flex-grow-1">В наличии {{ product.quantity_value|floatformat:0 }} {{ product.quantity_units }}</p>
                <div class="d-flex justify-content-between bottom-0 rounded-3 product-counter-wrapper">
                    <button class="btn btn-outline-danger border-0 rounded-0 rounded-start-3 p-1 px-2 fs-5 cart-btn" data-related-price-block="price-{{ product.pk }}" data-action="subtraction"><i class="bi bi-dash-lg fs-5"></i></button>
                    <div class="d-flex align-items-center product-counter fade-block"><div>{{ product.price|floatformat:"2g" }} руб.<span class="fw-semibold" id="price-{{ product.pk }}" data-max-value="{{ product.quantity_value }}" data-product-data="{{ product|model_obj_to_json }}" data-img-name="{{ product.get_preview.name }}"></span></div></div>
                    <button class="btn btn-outline-success border-0 rounded-0 rounded-end-3 p-1 px-2 fs-5 cart-btn" data-related-price-block="price-{{ product.pk }}" data-action="addition"><i class="bi bi-plus-lg"></i></button>
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        document.querySelectorAll('.product-card-img').forEach(el=>el.addEventListener('error', ev=>{
            el.src = "/static/main/def_imgs/error.jpg"
        }))
        document.querySelectorAll('.cart-btn').forEach(el=>el.addEventListener('click', ()=>{
            const priceBlock = el.dataset.relatedPriceBlock ? document.querySelector(`#${el.dataset.relatedPriceBlock}`) : null
            if (!priceBlock) return
            const maxValue = parseFloat(priceBlock.dataset.maxValue)
            const currentValue = parseInt(priceBlock.dataset.currentValue)
            const productData = JSON.parse(priceBlock.dataset.productData)
            productData.imageName = priceBlock.dataset.imgName
            if (el.dataset.action === 'addition' && maxValue > 0) {
                if (priceBlock.dataset.currentValue) {
                    priceBlock.dataset.currentValue = currentValue < maxValue ? `${currentValue + 1}` : priceBlock.dataset.currentValue
                } else {
                    priceBlock.dataset.currentValue = '1'
                }
                priceBlock.innerText = ` x${priceBlock.dataset.currentValue}`
                productData.quantity = parseInt(priceBlock.dataset.currentValue)
                addToCart(productData)
            } else if (el.dataset.action === 'subtraction') {
                if (priceBlock.dataset.currentValue) {
                    priceBlock.dataset.currentValue = `${currentValue > 1 ? currentValue - 1 : ''}`
                } else {
                    priceBlock.dataset.currentValue = ''
                }
                priceBlock.innerText = priceBlock.dataset.currentValue ? ` x${priceBlock.dataset.currentValue}` : ''

                if (priceBlock.dataset.currentValue) {
                    productData.quantity = parseInt(priceBlock.dataset.currentValue)
                    addToCart(productData)
                } else {
                    removeFromCart(productData.pk)
                }
            }
            if (priceBlock.dataset.currentValue) {
                el.parentElement?.classList.add('bg-light')
            } else {
                el.parentElement?.classList.remove('bg-light')
            }
        }))
    </script>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="btn-group me-2 border-0" role="group" aria-label="First group">
        <ul class="pagination paginator-block m-0">

        </ul>
        <script>
            const paginatorBlock = document.querySelector('.paginator-block')
            if (paginatorBlock) {
                const currentPage = {{ currentPage }};
                const totalPages = {{ totalPages }};
                const paginatorRange = [];
                if (totalPages <= 1) {
                    paginatorRange.push(0)
                    paginatorRange.push(0)
                } else if (totalPages <= 6) {
                    paginatorRange.push(1)
                    paginatorRange.push(totalPages)
                } else if (totalPages < currentPage + 3) {
                    paginatorRange.push(currentPage - 3)
                    paginatorRange.push(totalPages - currentPage + 4)
                } else if (currentPage >= 4) {
                    paginatorRange.push(currentPage - 3)
                    paginatorRange.push(7)
                } else {
                    paginatorRange.push(1)
                    paginatorRange.push(7)
                }
                Array.from({length: paginatorRange[1]}, (_, i) => i + paginatorRange[0]).forEach(el=>{
                    const paginatorButtonWrapper = document.createElement('li')
                    const paginatorButton = document.createElement('button')
                    paginatorButtonWrapper.className = 'page-item'
                    paginatorButton.className = `page-link text-black shadow-none ${currentPage === el ? 'disabled': ''}`
                    paginatorButton.type = 'button'
                    paginatorButton.innerText = `${el}`
                    paginatorButton.addEventListener('click', ()=>{
                        const currentParams = new URLSearchParams(location.search)
                        currentParams.set('page', `${el}`)
                        location.search = currentParams.toString()
                    })
                    paginatorButtonWrapper.insertAdjacentElement('beforeend', paginatorButton)
                    paginatorBlock.insertAdjacentElement('beforeend', paginatorButtonWrapper)
                })
                if (currentPage > 4) {
                    const paginatorButtonWrapper = document.createElement('li')
                    const paginatorButton = document.createElement('button')
                    paginatorButtonWrapper.className = 'page-item'
                    paginatorButton.className = `page-link text-black shadow-none disabled bg-white`
                    paginatorButton.type = 'button'
                    paginatorButton.innerText = `...`
                    paginatorButtonWrapper.insertAdjacentElement('beforeend', paginatorButton)
                    paginatorBlock.insertAdjacentElement('afterbegin', paginatorButtonWrapper)
                }
                if (currentPage !== 1) {
                    const paginatorButtonWrapper = document.createElement('li')
                    const paginatorButton = document.createElement('button')
                    paginatorButtonWrapper.className = 'page-item'
                    paginatorButton.className = `page-link px-3 text-black shadow-none ${currentPage === 1 ? 'disabled': ''}`
                    paginatorButton.type = 'button'
                    paginatorButton.style.backgroundColor = '#ffffff'
                    paginatorButton.style.backgroundImage = 'url("/static/main/icons/chevron-double-left.svg")'
                    paginatorButton.style.backgroundRepeat = 'no-repeat'
                    paginatorButton.style.backgroundPosition = 'center'
                    paginatorButton.innerHTML = '&ensp;'
                    paginatorButton.addEventListener('click', ()=>{
                        const currentParams = new URLSearchParams(location.search)
                        currentParams.set('page', 1)
                        location.search = currentParams.toString()
                    })
                    paginatorButtonWrapper.insertAdjacentElement('beforeend', paginatorButton)
                    paginatorBlock.insertAdjacentElement('afterbegin', paginatorButtonWrapper)
                }
                if (currentPage + 3 < totalPages) {
                    const paginatorButtonWrapper = document.createElement('li')
                    const paginatorButton = document.createElement('button')
                    paginatorButtonWrapper.className = 'page-item'
                    paginatorButton.className = 'page-link text-black shadow-none disabled bg-white'
                    paginatorButton.type = 'button'
                    paginatorButton.innerText = `...`
                    paginatorButtonWrapper.insertAdjacentElement('beforeend', paginatorButton)
                    paginatorBlock.insertAdjacentElement('beforeend', paginatorButtonWrapper)
                }
                if (currentPage !== totalPages) {
                    const paginatorButtonWrapper = document.createElement('li')
                    const paginatorButton = document.createElement('button')
                    paginatorButtonWrapper.className = 'page-item'
                    paginatorButton.className = `page-link px-3 text-black shadow-none ${currentPage === totalPages ? 'disabled': ''}`
                    paginatorButton.type = 'button'
                    paginatorButton.style.backgroundColor = '#ffffff'
                    paginatorButton.style.backgroundImage = 'url("/static/main/icons/chevron-double-right.svg")'
                    paginatorButton.style.backgroundRepeat = 'no-repeat'
                    paginatorButton.style.backgroundPosition = 'center'
                    paginatorButton.innerHTML = '&ensp;'
                    paginatorButton.addEventListener('click', ()=>{
                        const currentParams = new URLSearchParams(location.search)
                        currentParams.set('page', totalPages)
                        location.search = currentParams.toString()
                    })
                    paginatorButtonWrapper.insertAdjacentElement('beforeend', paginatorButton)
                    paginatorBlock.insertAdjacentElement('beforeend', paginatorButtonWrapper)
                }
            }
        </script>
    </div>
</div>